/*css globalNavbar*/

.globalNavbar{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: black;
    box-shadow: 0px 0px 14px 8px #757575;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonNavbar{
    background-color: black;
    border: none;
    font-size: x-large;
}

.titleNavbar{
    text-align: center;
    width: 80%;
}

.mobile-menu{
    position: absolute;
    z-index: 5;
    background-color: black;
    width: 100%;
    height: 100%;
}

.mobile-menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2rem 1rem 2rem;
    color: white;
    font-size: larger;
}

.mobile-menu-item {
    list-style: none;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: solid 1px grey;
    padding: 0rem 0rem 2rem 0rem;
    width: 95%;
}

.mobile-menu-item a{
    font-size: larger;
    text-decoration: none;
}

/*css main home for phone */

.mainLayout{
    margin-top: 6rem;
}

.home{
    background-image: url('../img/hero-ancient-civilizations-dxTNKrsaB4Cu25sqW7AF8N.webp');
    position: relative;
    min-height: 20rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
    color: white;
}

.home > *{
    position: relative;
    z-index: 1;
}

.home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34 34 34 / 37%)
}

.home h1 {
    margin: 4rem 1rem 3rem 1rem;
    animation: neon 3s infinite;
}

.home p{
    margin: 1rem;
}

.falseButton, 
.falseButtonEarth, 
.falseButtonNature, 
.falseButtonContinenti {
    text-align: center;
    width: 50%;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 4px 22px -2px;
}

.falseButton{
    border: solid 2px #b9b9b9;
    color: #c3c3c3;
    margin: 2rem auto 1rem auto;
}

.falseButtonEarth{
    border: solid 2px #0e7099;
    color: #2e9db2;
    margin: 4rem 0rem 0rem 6rem;
}

.falseButtonNature{
    border: solid 2px #4a822a;
    color: #7baf48;
    margin: 3rem 0rem 0rem 6rem;
}

.falseButtonContinenti{
    border: solid 2px #b09a82;
    width: 80%;
    color: #d9b898;
    margin: 2rem auto 0rem auto;
}

#le-epoche-storiche{
    border-left: solid 7px #ecb829;
    padding-left: 1rem;
    margin: 2rem 0rem 2rem 1rem;
}

.card_epoche{
    display: flex;
    margin: 1rem;
}

.card_epoche img{
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
}

#earth, 
#nature{
    min-height: 25rem;
    margin: 4rem 1rem 1rem 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10rem 4rem 0rem 0rem;
}

#earth:after, 
#nature:after,
#medioevo-europa::after, 
#medioevo-asia::after,
#medioevo-americhe::after,
#medioevo-africa::after,
#medioevo-oceania::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 31%);
}

#continenti::after{
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom, rgb(0 0 0 / 0%) 0%, 
            rgb(0 0 0 / 29%) 60%, 
            rgb(0 0 0 / 56%) 85%, 
            #000000 100%
        );
}

#earth > *, 
#nature > *,
#continenti > *,
#medioevo-europa > *, 
#medioevo-asia > *,
#medioevo-americhe > *,
#medioevo-africa > *,
#medioevo-oceania > *{
    position: relative;
    z-index: 1;
}


#earth{
    background-image: url('../img/earth.jpg');
    border-radius: 5rem 1rem 5rem 1rem;
    box-shadow: 0 0 5px rgb(80 171 198);
}

#nature{
    background-image: url('../img/nature.jpg');
    border-radius: 1rem 5rem 1rem 5rem;
    box-shadow: 0 0 5px 1px rgb(147 225 66);
}

.discover-section{
    margin: 5rem 2rem 5rem 1rem;
}

.dicover-more{
    margin: 0rem 2rem 5rem 1rem;
}

.carousel{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.carousel::-webkit-scrollbar{
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}


.carousel-card{
    flex: 0 0 250px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.carousel-card img{
    width: 90%;
    height: 11rem;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

#continenti{
    background-image: url('../img/continenti.jpg');
    min-height: 30rem;
    background-size: cover;
    background-position: center;
    padding: 4rem 4rem 0rem 4rem;
    position: relative;
}

#continenti p{
    position: relative;
    z-index: 1;
    margin-top: 8rem;
    text-align: center;
}

#timeline{
    margin: 0rem 1rem 1rem 1rem;
}

.timelineCarousel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.timelineCarousel::-webkit-scrollbar{
    height: 8px;
}

.timelineCarousel::-webkit-scrollbar-track{
    background: #eee;
    border-radius: 20px;
}

.timelineCarousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}

.timelineSlide{
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.carouselTimeLine-card{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 14rem;
    padding: 1rem 6rem 0 0;
    position: relative;
    margin: 2rem 0rem 2rem 0rem;
    border-radius: 1rem;
}

.carouselTimeLine-card::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #0000005c;
}

.carouselTimeLine-card > *{
    position: relative;
    z-index: 1;
}

/*aimazione main home per telefono*/

@keyframes neon {
    0% {
        text-shadow: 0 0 10px #7eebd1;
    }
    50% {
        text-shadow: 0 0 40px #7eebd1;
    }
    100% {
        text-shadow: 0 0 10px #7eebd1;
    }
}

/*css main Epoche for phone */

#intro-epoche {
    box-shadow: white 0px -10px 11px -9px;
    margin: 1rem 0rem 5rem 0rem;
    border-radius: 3rem 3rem 0rem 0rem;
    text-align: center;
}

.macro_epoche_card, .macro_epoche_card_active{
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
    background-size: cover;
}

.macro_epoche_card{
    min-height: 5rem;
    padding: 1rem 0rem 0rem 0rem;
    animation: reduce 0.5s ease-in-out;
}

.macro_epoche_card_active{
    min-height: 12rem;
    padding: 4rem 0rem 0rem 0rem;
    animation: expand 0.5s ease-in-out;
}

#card-preistoria{
    background-image: url('../img/card_img_lista_epoche/preistoria.jpg');
}

#card-eta-dei-metalli{
    background-image: url('../img/card_img_lista_epoche/età_dei_metalli.jpg');
}

#card-eta-antica{
    background-image: url('../img/card_img_lista_epoche/eta_antica.jpg');
}

#card-medioevo{
    background-image: url('../img/card_img_lista_epoche/medioevo.webp');
}

#card-eta-moderna{
    background-image: url('../img/card_img_lista_epoche/eta_moderna.jpg');
}

#card-eta-contemporanea{
    background-image: url('../img/card_img_lista_epoche/eta_contemporanea.jpg');
}

.card_epoche_subitem_div{
    background-color: #5b5b5ba8;
    margin: 1rem;
    width: 90%;
    border-radius: 2rem;
    padding: 0.5rem;
    opacity: 0.9;
    animation: subItem_epoche 2s ease-in-out;
}

.button_epoche {
    margin-left: 8rem;
    background-color: #3e3e3e;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px white;
}

/*animazioni*/

@keyframes expand {
    0% {
        min-height: 5rem;
        padding: 1rem 0rem 0rem 0rem;
    }
    100% {
        min-height: 12rem;
        padding: 4rem 0rem 0rem 0rem;
    }
}

@keyframes reduce {
    0% {
        min-height: 12rem;
        padding: 4rem 0rem 0rem 0rem;
    }
    100% {
        min-height: 5rem;
        padding: 1rem 0rem 0rem 0rem;
    }
}

@keyframes subItem_epoche {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*css main dettaglioDettaglioEpoca for phone */

.intro_dettaglio_epoca {
    text-align: center;
    margin: 7rem 2rem 4rem 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.div_eventi::after,
.div_invenzioni::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 1%) 1%, rgb(34 34 34 / 29%) 24%);
}

.div_eventi > *,
.div_invenzioni > *{
    position: relative;
    z-index: 1;
}

.div_eventi, .div_invenzioni{
    position: relative;
    background-size: cover;
    width: 85%;
    box-shadow: 0px 0px 3px white;
    padding: 0.5rem;
    min-height: 10rem;
}

.div_eventi {
    background-image: url('../img/eventi.webp');
    border-radius: 0rem 3rem 3rem 0rem;
}

.div_invenzioni {
    background-image: url('../img/invenzioni.webp');
    border-radius: 3rem 0rem 0rem 3rem;
    margin-left: auto;
}

.group_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

/*css main Planets for phone */

#intro_planets{
    position: relative;
    background-image: url('../img/earth.jpg');
    min-height: 24rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

#intro_planets::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgb(34 34 34 / 29%) 24%);
}

#intro_planets > *{
    position: relative;
    z-index: 1;
}

.content_planets {
    margin: 4rem 0rem 1rem 0rem;
    text-align: center;
}

.article_planet {
    border: 1px solid #515151;
    width: 80%;
    border-radius: 2rem;
    text-align: center;
    margin: auto;
    overflow: hidden;
    margin-top: 3rem;
}

.text_planets {
    display: flex;
    flex-wrap: wrap;
}

.text_planet_div{
    position: relative;
    margin: 0;
    padding: 1rem;
    width: 100%;
    background-size: cover;
    background-position-y: -1rem;
    min-height: 8rem;
}

.text_planet_div::after{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%) 18%, rgb(34 34 34 / 24%) 76%);
}

.text_planet_div > *{
    position: relative;
    z-index: 3;
}

#crosta{
    background-image: url('../img/planet/crosta_terrestre.jpg');
}

#mantello{
    background-image: url('../img/planet/mantello_terrestre.webp');
}

#nucleo{
    background-image: url('../img/planet/nucleo_terrestre.webp');
}

#idrosfera{
    background-image: url('../img/planet/idrosfera.jpg');
}

#atmosfera{
    background-image: url('../img/planet/atmosfera.webp');
}

#biosfera{
    background-image: url('../img/planet/biosfera.jpeg');
}

#acqua-liquida{
    background-image: url('../img/planet/acqua.webp');
}

#campo-magnetico{
    background-image: url('../img/planet/campo_magnetico.jpg');
}

#luna{
    background-image: url('../img/planet/satellite-terrestre.webp');
}

.materiali_planets {
    margin: 4rem 1rem 1rem 1rem;
    text-align: center;
}

.intro_material_planet {
    margin: 3rem 0rem 4rem 0rem;
    box-shadow: 0px 0px 9px 1px white;
    border-radius: 2rem;
}

.list_material_planet{
    list-style: none;
    padding: 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.single_material_planet {
    min-height: 4rem;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 1rem;
}

.single_material_planet p {
    border-top: 1px solid black;
    width: 100%;
}

/* Elementi comuni */

#ferro{
    background:#6e6e6e86;
}

#ossigeno{
    background:#6ec5ff67;
}

#silicio{
    background:#c9c9c96b;
}

#magnesio{
    background:#98fb9856;
}

#zolfo{
    background:#ffd90062;
}

#nichel{
    background:#b0b0b049;
}

#calcio{
    background:#f5f5dc36;
}

#alluminio{
    background:#c0c0c056;
}

#sodio{
    background:#a7c7e771;
}

#cromo{
    background:#7f7f7f73;
}

#manganese{
    background:#c1440e63;
}

#fosforo{
    background:#ffa60046;
}

#potassio{
    background:#daa52041;
}

#titanio{
    background:#a9a9a93f;
}

#carbonio{
    background:#2f2f2f42;
}

#idrogeno{
    background:#ffffff60;
}

/* Terre Rare */

#scandio{
    background:#b8e9864b;
}

#ittrio{
    background:#a0ced956;
}

#lantanio{
    background:#f5deb34b;
}

#cerio{
    background:#ffd64f59;
}

#praseodimio{
    background:#e6e6fa46;
}

#neodimio{
    background:#b39ddb3f;
}

#promezio{
    background:#d32f2f4b;
}

#samario{
    background:#90caf950;
}

#europio{
    background:#4fc2f752;
}

#gadolinio{
    background:#81c78441;
}

#terbio{
    background:#ffab914b;
}

#disprosio{
    background:#ce93d83b;
}

#olmio{
    background:#bcaaa457;
}

#erbio{
    background:#80cbc354;
}

#tulio{
    background:#c5e1a550;
}

#itterbio{
    background:#ffe0823f;
}

#lutezio{
    background:#bdbdbd4d;
}

/*css globalFooter*/

#footer{
    text-align: center;
    margin-top: 4rem;
    width: 100%;
}