/*css globalNavbar*/

.globalNavbar{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: black;
    box-shadow: 0px 0px 14px 8px #757575;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonNavbar{
    background-color: black;
    border: none;
    font-size: x-large;
}

.titleNavbar{
    text-align: center;
    width: 80%;
}

.mobile-menu{
    position: absolute;
    z-index: 5;
    background-color: black;
    width: 100%;
    height: 100%;
}

.mobile-menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2rem 1rem 2rem;
    color: white;
    font-size: larger;
}

.mobile-menu-item {
    list-style: none;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: solid 1px grey;
    padding: 0rem 0rem 2rem 0rem;
    width: 95%;
}

.mobile-menu-item a{
    font-size: larger;
    text-decoration: none;
}

/*css main home for phone */

.mainLayout{
    margin-top: 6rem;
}

.home{
    background-image: url('../img/hero-ancient-civilizations-dxTNKrsaB4Cu25sqW7AF8N.webp');
    position: relative;
    min-height: 20rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
    color: white;
}

.home > *{
    position: relative;
    z-index: 1;
}

.home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34 34 34 / 37%)
}

.home h1 {
    margin: 4rem 1rem 3rem 1rem;
    animation: neon 3s infinite;
}

.home p{
    margin: 1rem;
}

.falseButton, 
.falseButtonEarth, 
.falseButtonNature, 
.falseButtonContinenti {
    text-align: center;
    width: 50%;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 4px 22px -2px;
}

.falseButton{
    border: solid 2px #b9b9b9;
    color: #c3c3c3;
    margin: 2rem auto 1rem auto;
}

.falseButtonEarth{
    border: solid 2px #0e7099;
    color: #2e9db2;
    margin: 4rem 0rem 0rem 6rem;
}

.falseButtonNature{
    border: solid 2px #4a822a;
    color: #7baf48;
    margin: 3rem 0rem 0rem 6rem;
}

.falseButtonContinenti{
    border: solid 2px #b09a82;
    width: 80%;
    color: #d9b898;
    margin: 2rem auto 0rem auto;
}

#le-epoche-storiche{
    border-left: solid 7px #ecb829;
    padding-left: 1rem;
    margin: 2rem 0rem 2rem 1rem;
}

.card_epoche{
    display: flex;
    margin: 1rem;
}

.card_epoche img{
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
}

#earth, 
#nature{
    min-height: 25rem;
    margin: 4rem 1rem 1rem 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10rem 4rem 0rem 0rem;
}

#earth:after, 
#nature:after,
#medioevo-europa::after, 
#medioevo-asia::after,
#medioevo-americhe::after,
#medioevo-africa::after,
#medioevo-oceania::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 31%);
}

#continenti::after{
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom, rgb(0 0 0 / 0%) 0%, 
            rgb(0 0 0 / 29%) 60%, 
            rgb(0 0 0 / 56%) 85%, 
            #000000 100%
        );
}

#earth > *, 
#nature > *,
#continenti > *,
#medioevo-europa > *, 
#medioevo-asia > *,
#medioevo-americhe > *,
#medioevo-africa > *,
#medioevo-oceania > *{
    position: relative;
    z-index: 1;
}


#earth{
    background-image: url('../img/earth.jpg');
    border-radius: 5rem 1rem 5rem 1rem;
    box-shadow: 0 0 5px rgb(80 171 198);
}

#nature{
    background-image: url('../img/nature.jpg');
    border-radius: 1rem 5rem 1rem 5rem;
    box-shadow: 0 0 5px 1px rgb(147 225 66);
}

.discover-section{
    margin: 5rem 2rem 5rem 1rem;
}

.dicover-more{
    margin: 0rem 2rem 5rem 1rem;
}

.carousel{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.carousel::-webkit-scrollbar{
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}


.carousel-card{
    flex: 0 0 250px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.carousel-card img{
    width: 90%;
    height: 11rem;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

#continenti{
    background-image: url('../img/continenti.jpg');
    min-height: 30rem;
    background-size: cover;
    background-position: center;
    padding: 4rem 4rem 0rem 4rem;
    position: relative;
}

#continenti p{
    position: relative;
    z-index: 1;
    margin-top: 8rem;
    text-align: center;
}

#timeline{
    margin: 0rem 1rem 1rem 1rem;
}

.timelineCarousel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.timelineCarousel::-webkit-scrollbar{
    height: 8px;
}

.timelineCarousel::-webkit-scrollbar-track{
    background: #eee;
    border-radius: 20px;
}

.timelineCarousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}

.timelineSlide{
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.carouselTimeLine-card{
    flex: 0 0 250px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0rem 2rem 0rem;
}

#medioevo-europa, 
#medioevo-asia,
#medioevo-americhe,
#medioevo-africa,
#medioevo-oceania{
    background-size: cover;
    padding: 1rem 6rem 0rem 0rem;
    position: relative;
    min-height: 14rem;
}

#medioevo-europa{
    background-image: url('../img/card_img_timeline/medioevo-europeo.webp');
}

#medioevo-asia{
    background-image: url('../img/card_img_timeline/asia-medioevo.jpg');
}

#medioevo-americhe{
    background-image: url('../img/card_img_timeline/america\ medioevo.webp');
}

#medioevo-africa{
    background-image: url('../img/card_img_timeline/africa-medioevo.jpg');
}

#medioevo-oceania{
    background-image: url('../img/card_img_timeline/Oceania-medioevo.jpg');
}

/*aimazione main home per telefono*/

@keyframes neon {
    0% {
        text-shadow: 0 0 10px #7eebd1;
    }
    50% {
        text-shadow: 0 0 40px #7eebd1;
    }
    100% {
        text-shadow: 0 0 10px #7eebd1;
    }
}

/*css main Epoche for phone */

#intro-epoche{
    box-shadow: white 0px 0px 8px;
    margin: 1rem 1rem 5rem 1rem;
    border-radius: 2rem;
    text-align: center;
}

#card-preistoria,
#card-eta-dei-metalli,
#card-eta-antica,
#card-medioevo,
#card-eta-moderna,
#card-eta-contemporanea{
    min-height: 12rem;
    padding: 4rem 0rem 0rem 0rem;
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
    background-size: cover;
}


#card-preistoria{
    background-image: url('../img/card_img_lista_epoche/preistoria.jpg');
}

#card-eta-dei-metalli{
    background-image: url('');
}

#card-eta-antica{
    background-image: url('../img/card_img_lista_epoche/eta_antica.jpg');
}

#card-medioevo{
    background-image: url('../img/card_img_lista_epoche/medioevo.webp');
}

#card-eta-moderna{
    background-image: url('../img/card_img_lista_epoche/eta_moderna.jpg');
}

#card-eta-contemporanea{
    background-image: url('../img/card_img_lista_epoche/eta_contemporanea.jpg');
}

.card_epoche_subitem_div{
    background-color: #5b5b5ba8;
    margin: 1rem;
    width: 90%;
    border-radius: 2rem;
    padding: 0.5rem;
}

.button_epoche {
    margin-left: 8rem;
    background-color: #3e3e3e;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px white;
}

.intro_lista {
    text-align: center;
}

.lista {
    margin: 5rem 0rem 3rem 1rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.group_links {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*css main Planets for phone */

#intro_planets{
    position: relative;
    background-image: url('../img/earth.jpg');
    min-height: 24rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

#intro_planets::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgb(34 34 34 / 29%) 24%);
}

#intro_planets > *{
    position: relative;
    z-index: 1;
}

/*css globalFooter*/

#footer{
    text-align: center;
    margin-top: 4rem;
    width: 100%;
}