/*css globalNavbar*/

.globalNavbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: black;
    box-shadow: 0px 0px 14px 8px #757575;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonNavbar{
    background-color: black;
    border: none;
    font-size: x-large;
}

.titleNavbar{
    text-align: center;
    width: 80%;
}

.mobile-menu{
    position: absolute;
    z-index: 5;
    background-color: black;
    width: 100%;
    height: 100%;
}

.mobile-menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2rem 1rem 2rem;
    color: white;
    font-size: larger;
}

.mobile-menu-item {
    list-style: none;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: solid 1px grey;
    padding: 0rem 0rem 2rem 0rem;
    width: 95%;
}

.mobile-menu-item a{
    font-size: larger;
    text-decoration: none;
}

/*css main home for phone */

.mainLayout{
    margin-top: 6rem;
}

.home{
    background-image: url('../img/hero-ancient-civilizations-dxTNKrsaB4Cu25sqW7AF8N.webp');
    position: relative;
    min-height: 20rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1rem;
    color: white;
}

.home > *{
    position: relative;
    z-index: 1;
}

.home::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34 34 34 / 37%)
}

.home h1 {
    margin: 4rem 1rem 3rem 1rem;
    animation: neon 3s infinite;
}

.home p{
    margin: 1rem;
}

.falseButton, 
.falseButtonEarth, 
.falseButtonNature, 
.falseButtonContinenti {
    text-align: center;
    width: 50%;
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 4px 22px -2px;
}

.falseButton{
    border: solid 2px #b9b9b9;
    color: #c3c3c3;
    margin: 2rem auto 1rem auto;
}

.falseButtonEarth{
    border: solid 2px #0e7099;
    color: #2e9db2;
    margin: 4rem 0rem 0rem 6rem;
}

.falseButtonNature{
    border: solid 2px #4a822a;
    color: #7baf48;
    margin: 3rem 0rem 0rem 6rem;
}

.falseButtonContinenti{
    border: solid 2px #b09a82;
    width: 80%;
    color: #d9b898;
    margin: 2rem auto 0rem auto;
}

#le-epoche-storiche{
    border-left: solid 7px #ecb829;
    padding-left: 1rem;
    margin: 2rem 0rem 2rem 1rem;
}

.card_epoche{
    display: flex;
    margin: 1rem;
}

.card_epoche img{
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
}

#earth, 
#nature{
    min-height: 25rem;
    margin: 4rem 1rem 1rem 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10rem 4rem 0rem 0rem;
}

#earth:after, 
#nature:after,
#medioevo-europa::after, 
#medioevo-asia::after,
#medioevo-americhe::after,
#medioevo-africa::after,
#medioevo-oceania::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 31%);
}

#continenti::after{
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom, rgb(0 0 0 / 0%) 0%, 
            rgb(0 0 0 / 29%) 60%, 
            rgb(0 0 0 / 56%) 85%, 
            #000000 100%
        );
}

#earth > *, 
#nature > *,
#continenti > *,
#medioevo-europa > *, 
#medioevo-asia > *,
#medioevo-americhe > *,
#medioevo-africa > *,
#medioevo-oceania > *{
    position: relative;
    z-index: 1;
}


#earth{
    background-image: url('../img/earth.jpg');
    border-radius: 5rem 1rem 5rem 1rem;
    box-shadow: 0 0 5px rgb(80 171 198);
}

#nature{
    background-image: url('../img/nature.jpg');
    border-radius: 1rem 5rem 1rem 5rem;
    box-shadow: 0 0 5px 1px rgb(147 225 66);
}

.discover-section{
    margin: 5rem 2rem 5rem 1rem;
}

.dicover-more{
    margin: 0rem 2rem 5rem 1rem;
}

.carousel{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.carousel::-webkit-scrollbar{
    height: 8px;
}

.carousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}


.carousel-card{
    flex: 0 0 250px;
    scroll-snap-align: start;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.carousel-card img{
    width: 90%;
    height: 11rem;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

#continenti{
    background-image: url('../img/continenti.jpg');
    min-height: 30rem;
    background-size: cover;
    background-position: center;
    padding: 4rem 4rem 0rem 4rem;
    position: relative;
}

#continenti p{
    position: relative;
    z-index: 1;
    margin-top: 8rem;
    text-align: center;
}

#timeline{
    margin: 0rem 1rem 1rem 1rem;
}

.timelineCarousel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.timelineCarousel::-webkit-scrollbar{
    height: 8px;
}

.timelineCarousel::-webkit-scrollbar-track{
    background: #eee;
    border-radius: 20px;
}

.timelineCarousel::-webkit-scrollbar-thumb{
    background: #ecb829;
    border-radius: 20px;
}

.timelineSlide{
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.carouselTimeLine-card{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 14rem;
    padding: 1rem 6rem 0 0;
    position: relative;
    margin: 2rem 0rem 2rem 0rem;
    border-radius: 1rem;
}

.carouselTimeLine-card::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #0000005c;
}

.carouselTimeLine-card > *{
    position: relative;
    z-index: 1;
}

/*aimazione main home per telefono*/

@keyframes neon {
    0% {
        text-shadow: 0 0 10px #7eebd1;
    }
    50% {
        text-shadow: 0 0 40px #7eebd1;
    }
    100% {
        text-shadow: 0 0 10px #7eebd1;
    }
}

/*css main Epoche for phone */

#intro-epoche {
    box-shadow: white 0px -10px 11px -9px;
    margin: 1rem 0rem 5rem 0rem;
    border-radius: 3rem 3rem 0rem 0rem;
    text-align: center;
}

.macro_epoche_card, .macro_epoche_card_active{
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
    background-size: cover;
}

.macro_epoche_card{
    min-height: 5rem;
    padding: 1rem 0rem 0rem 0rem;
    animation: reduce 0.5s ease-in-out;
}

.macro_epoche_card_active{
    min-height: 12rem;
    padding: 4rem 0rem 0rem 0rem;
    animation: expand 0.5s ease-in-out;
}

#card-preistoria{
    background-image: url('../img/card_img_lista_epoche/preistoria.jpg');
}

#card-eta-dei-metalli{
    background-image: url('../img/card_img_lista_epoche/età_dei_metalli.jpg');
}

#card-eta-antica{
    background-image: url('../img/card_img_lista_epoche/eta_antica.jpg');
}

#card-medioevo{
    background-image: url('../img/card_img_lista_epoche/medioevo.webp');
}

#card-eta-moderna{
    background-image: url('../img/card_img_lista_epoche/eta_moderna.jpg');
}

#card-eta-contemporanea{
    background-image: url('../img/card_img_lista_epoche/eta_contemporanea.jpg');
}

.card_epoche_subitem_div{
    background-color: #5b5b5ba8;
    margin: 1rem;
    width: 90%;
    border-radius: 2rem;
    padding: 0.5rem;
    opacity: 0.9;
    animation: subItem_epoche 2s ease-in-out;
}

.button_epoche {
    margin-left: 8rem;
    background-color: #3e3e3e;
    border-radius: 2rem;
    box-shadow: 0px 0px 2px white;
}

/*animazioni*/

@keyframes expand {
    0% {
        min-height: 5rem;
        padding: 1rem 0rem 0rem 0rem;
    }
    100% {
        min-height: 12rem;
        padding: 4rem 0rem 0rem 0rem;
    }
}

@keyframes reduce {
    0% {
        min-height: 12rem;
        padding: 4rem 0rem 0rem 0rem;
    }
    100% {
        min-height: 5rem;
        padding: 1rem 0rem 0rem 0rem;
    }
}

@keyframes subItem_epoche {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*css main dettaglioDettaglioEpoca for phone */

.intro_dettaglio_epoca {
    text-align: center;
    margin: 7rem 2rem 4rem 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.div_eventi::after,
.div_invenzioni::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 1%) 1%, rgb(34 34 34 / 29%) 24%);
}

.div_eventi > *,
.div_invenzioni > *{
    position: relative;
    z-index: 1;
}

.div_eventi, .div_invenzioni{
    position: relative;
    background-size: cover;
    width: 85%;
    box-shadow: 0px 0px 3px white;
    padding: 0.5rem;
    min-height: 10rem;
}

.div_eventi {
    background-image: url('../img/eventi.webp');
    border-radius: 0rem 3rem 3rem 0rem;
}

.div_invenzioni {
    background-image: url('../img/invenzioni.webp');
    border-radius: 3rem 0rem 0rem 3rem;
    margin-left: auto;
}

.group_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

/*css main Planets for phone */

#intro_planets{
    position: relative;
    background-image: url('../img/earth.jpg');
    min-height: 24rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

#intro_planets::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgb(34 34 34 / 29%) 24%);
}

#intro_planets > *{
    position: relative;
    z-index: 1;
}

.content_planets {
    margin: 4rem 0rem 1rem 0rem;
    text-align: center;
}

.article_planet {
    border: 1px solid #515151;
    width: 80%;
    border-radius: 2rem;
    text-align: center;
    margin: auto;
    overflow: hidden;
    margin-top: 3rem;
}

.text_planets {
    display: flex;
    flex-wrap: wrap;
}

.text_planet_div{
    position: relative;
    margin: 0;
    padding: 1rem;
    width: 100%;
    background-size: cover;
    background-position-y: -1rem;
    min-height: 8rem;
}

.text_planet_div::after{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%) 18%, rgb(34 34 34 / 24%) 76%);
}

.text_planet_div > *{
    position: relative;
    z-index: 3;
}

#crosta{
    background-image: url('../img/planet/crosta_terrestre.jpg');
}

#mantello{
    background-image: url('../img/planet/mantello_terrestre.webp');
}

#nucleo{
    background-image: url('../img/planet/nucleo_terrestre.webp');
}

#idrosfera{
    background-image: url('../img/planet/idrosfera.jpg');
}

#atmosfera{
    background-image: url('../img/planet/atmosfera.webp');
}

#biosfera{
    background-image: url('../img/planet/biosfera.jpeg');
}

#acqua-liquida{
    background-image: url('../img/planet/acqua.webp');
}

#campo-magnetico{
    background-image: url('../img/planet/campo_magnetico.jpg');
}

#luna{
    background-image: url('../img/planet/satellite-terrestre.webp');
}

.materials_Carousel{
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.materials_Carousel::-webkit-scrollbar{
    height: 8px;
}

.materials_Carousel::-webkit-scrollbar-track{
    background: #eee;
    border-radius: 20px;
}

.materials_Carousel::-webkit-scrollbar-thumb{
    background: #ec3029;
    border-radius: 20px;
}

.materials_Carousel > section{
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 0rem 1rem 0rem 1rem;
}

.materiali_planets {
    margin: 4rem 1rem 1rem 1rem;
    text-align: center;
}

.intro_material_planet {
    margin: 3rem 0rem 4rem 0rem;
    box-shadow: 0px 0px 9px 1px white;
    border-radius: 2rem;
}

.list_material_planet{
    list-style: none;
    padding: 0;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.single_material_planet {
    min-height: 4rem;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 1rem;
}

.background_materials_planet{
    width: 95%;
    margin: auto;
    background-color: black;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem;
}

/* Elementi comuni */

#ferro{
    background: #B0B7C0; /* grigio acciaio */
}

#ossigeno{
    background: #BFEFFF; /* azzurro pallido (liquido) */
}

#silicio{
    background: #5A5A5A; /* grigio bluastro */
}

#magnesio{
    background: #D9D9D9; /* argento brillante */
}

#zolfo{
    background: #F4D03F; /* giallo intenso */
}

#nichel{
    background: #A8A9AD; /* argento con lieve tonalità dorata */
}

#calcio{
    background: #D8D5C4; /* grigio argenteo chiaro */
}

#alluminio{
    background: #C0C8D0; /* argento chiaro */
}

#sodio{
    background: #D9D9D9; /* argento brillante */
}

#cromo{
    background: #B8BCC2; /* argento specchiato */
}

#manganese{
    background: #8A8A8A; /* grigio */
}

#fosforo{
    background: #F4E2A1; /* bianco/giallastro (fosforo bianco) */
}

#potassio{
    background: #C8C8C8; /* argento */
}

#titanio{
    background: #A7ADB5; /* grigio argenteo */
}

#carbonio{
    background: #2E2E2E; /* grafite */
}

#idrogeno{
    background: #FFFFFF; /* incolore */
}

/* Terre Rare */

#scandio{
    background: #D0D0D0; /* argento */
}

#ittrio{
    background: #C8CCD2; /* argento */
}

#lantanio{
    background: #D3D3D3; /* argento */
}

#cerio{
    background: #BFC4C9; /* grigio argenteo */
}

#praseodimio{
    background: #A7B7A3; /* argento con lieve tinta verdastra */
}

#neodimio{
    background: #C2B6D6; /* argento con riflessi violacei */
}

#promezio{
    background: #A9A9A9; /* mai osservato in massa, stimato grigio metallico */
}

#samario{
    background: #C0C0C0; /* argento */
}

#europio{
    background: #D8D8D8; /* argento chiaro */
}

#gadolinio{
    background: #B8BEC5; /* argento */
}

#terbio{
    background: #C4C4C4; /* argento */
}

#disprosio{
    background: #BEBEBE; /* argento */
}

#olmio{
    background: #B8B8B8; /* argento */
}

#erbio{
    background: #C7C7C7; /* argento */
}

#tulio{
    background: #D0D0D0; /* argento */
}

#itterbio{
    background: #D6D6D6; /* argento chiaro */
}

#lutezio{
    background: #B0B0B0; /* argento */
}

#timeline_planets {
    text-align: center;
    margin: 5rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 6px white;
    border-radius: 2rem;
    overflow: hidden;
}

#timeline_planets h3{
    padding: 1rem;
    border-bottom: 1px solid white;
    margin: 0;
}

#timeline_planets section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#timeline_planets p{
    padding: 1rem;
    margin: 0;
    min-height: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.processo_terra{
    background-size: cover;
    background-position: center;
}

#accumulo_materia{
    background-image: url('../img/planet/fase_1_terra.avif');
}

#nascita_luna{
    background-image: url('../img/planet/fase_2_terra..avif');
}

#raffreddamento_oceani{
    background-image: url('../img/planet/fase_3_terra..jpg');
}

#timeline_planets div{
    position: relative;
}

#timeline_planets div::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 6%) 0%, rgb(34 34 34 / 44%) 36%);
    z-index: 2;
}

#timeline_planets div > *{
    position: relative;
    z-index: 3;
}

/*css main Nature for phone */

.big_section{
    margin: 5rem 0rem 5rem 0rem;
}

#intro_nature{
    position: relative;
    background-image: url('../img/nature.jpg');
    min-height: 24rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

#intro_nature::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 1%, rgb(34 34 34 / 29%) 24%);
}

#intro_nature > *{
    position: relative;
    z-index: 1;
}

#ambienti_unici {
    text-align: center;
    margin: 4rem 1rem 4rem 1rem;
}

#ambienti_unici div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.environment_article{
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid #797979;
    border-radius: 2rem;
    width: 85%;
    padding: 0.5rem;
    margin: auto;
    min-height: 18rem;
    overflow: hidden;
}

.environment_article::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 6%) 0%, rgb(34 34 34 / 44%) 36%);
    z-index: 1;
}

.environment_article > *{
    position: relative;
    z-index: 2;
}

#foresta_amazzonica{
    background-image: url("../img/nature/foresta_amazzonica.jpg");
}

#deserto_sahara{
    background-image: url("../img/nature/deserto_sahara.avif");
}

#barriera_corallina{
    background-image: url("../img/nature/barriera_corallina.jpg");
}

#calotte_polari{
    background-image: url("../img/nature/calotte_polari.jpg");
}

#foreste_boreali{
    background-image: url("../img/nature/foreste_boreali.jpg");
}

.img_disaster, .img_animals{
    min-height: 18rem;
    padding: 3rem 1rem 1rem 1rem;
    background-position: center;
    background-size: cover;
    border-radius: 4rem 4rem 0rem 0rem;
}

.natural_disaster, .risked_animal{
    border-radius: 4rem 4rem 2rem 2rem;
    border: 1px solid #383838;
}

/* Sfondi disastri naturali*/

#volcano{
    background-image: url("../img/nature/disaster/volcano.webp");
}

#earthquake{
    background-image: url("../img/nature/disaster/earthquake.avif");
}

#tsunami{
    background-image: url("../img/nature/disaster/tsunami.avif");
}

#tornado{
    background-image: url("../img/nature/disaster/tornado.png");
}

#hurricane{
    background-image: url("../img/nature/disaster/hurricane.avif");
}

#flood{
    background-image: url("../img/nature/disaster/flood.jpg");
}

#wildfire{
    background-image: url("../img/nature/disaster/wildfire.webp");
}

#drought{
    background-image: url("../img/nature/disaster/drought.jpg");
}

#landslide{
    background-image: url("../img/nature/disaster/landslide.jpg");
}

#avalanche{
    background-image: url("../img/nature/disaster/avalanche.jpeg");
}

#cold-wave{
    background-image: url("../img/nature/disaster/cold-wave.jpeg");
}

#heat-wave{
    background-image: url("../img/nature/disaster/heat-wave.jpg");
}

/* Sfondi animali a rischio*/

#tiger {
    background-image: url("../img/nature/animal_risk/tiger.avif");
}

#javan-rhino {
    background-image: url("../img/nature/animal_risk/javan-rhino.webp");
}

#african-elephant {
    background-image: url("../img/nature/animal_risk/african-elephant.jpeg");
}

#snow-leopard {
    background-image: url("../img/nature/animal_risk/snow-leopard.webp");
}

#mountain-gorilla {
    background-image: url("../img/nature/animal_risk/mountain-gorilla.webp");
}

#giant-panda {
    background-image: url("../img/nature/animal_risk/giant-panda.jpeg");
}

#hawksbill {
    background-image: url("../img/nature/animal_risk/hawksbill.jpeg");
}

#blue-whale {
    background-image: url("../img/nature/animal_risk/blue-whale.jpeg");
}

#borneo-orangutan {
    background-image: url("../img/nature/animal_risk/borneo-orangutan.jpg");
}

#spix-macaw {
    background-image: url("../img/nature/animal_risk/spix-macaw.jpg");
}

#hammerhead {
    background-image: url("../img/nature/animal_risk/hammerhead.webp");
}

#african-penguin {
    background-image: url("../img/nature/animal_risk/african-penguin.jpeg");
}

#monk-seal {
    background-image: url("../img/nature/animal_risk/monk-seal.webp");
}

.organism-circle {
    width: 95%;
    height: 25rem;
    margin: 3rem 0rem 3rem 0rem;
    border-radius: 50%;
    background: conic-gradient(#F94144 49deg 51deg, #43AA8B 70deg 114deg, #9B5DE5 120deg 180deg, #F9C74F 180deg 240deg, #277DA1 240deg 300deg, #F3722C 300deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.organism-content {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
    overflow: hidden;
}

.organism-buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.organism-buttons button {
    padding: 1rem;
    background-color: black;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px white;
}

.kindoms {
    min-height: 25rem;
    padding: 2rem;
    opacity: 1;
}

/*css main Story for phone */

.group_button_story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3rem 1rem 1rem 1rem;
}

.button_story, .button_active_story  {
    width: 40%;
    background-color: #000000;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
}

.button_active_story {
    background-color: #c71515;
}

.story_introduction {
    text-align: center;
    box-shadow: 0px 0px 6px white;
    margin: 5rem 1rem 1rem 1rem;
    border-radius: 4rem;
    padding: 0.5rem;
}

.big_section_story {
    text-align: center;
    margin: 6rem 1rem 1rem 1rem;
}

.group_cards_story{
    display: flex;
    justify-content: space-around;
    margin: 2rem 1rem 6rem 1rem;
}

.card_story {
    width: 90%;
    border: 1px solid #75fffd5e;
    border-radius: 1rem;
    padding: 0.5rem;
}

/*css main Continents for phone */

#intro_continents{
    position: relative;
    background-image: url('../img/continenti.jpg');
    background-size: cover;
    text-align: center;
    padding: 8rem 3rem 0rem 3rem;
    min-height: 30rem;
    background-position: center;
}

#intro_continents::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0 / 100%) 10%, rgb(34 34 34 / 50%) 22%);
}

#intro_continents > *{
    position: relative;
    z-index: 1;
    color: white;
}

#continent{
    text-align: center;
    margin-top: 3rem;
}

#first_text{
    display: flex;
    width: 95%;
    background-color: gray;
    border-radius: 0rem 4rem 4rem 0rem;
    margin-top: 3rem;
}

#second_text{
    width: 95%;
    background: linear-gradient(149deg, rgb(91 209 44 / 76%) 34%, rgb(96 204 197 / 81%) 63%);
    border-radius: 4rem 0rem 0rem 4rem;
    margin-top: 3rem;
    margin-left: auto;
    padding: 1rem;
}

.intro_supercontinenti{
    text-align: center;
    margin: 5rem 1rem 4rem 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.text_supercontinets{
    width: 100%;
    border: 1px solid #5e5e5e;
    border-radius: 2rem;
    padding: 1rem;
    text-align: left;
}

.modern_continents {
    text-align: center;
    margin-top: 5rem;
    box-shadow: 0px -8px 16px -8px white;
    border-radius: 1rem 1rem 0rem 0rem;
    padding-top: 2rem;
    position: relative;
}

.box_continents_modern{
    margin: 2rem 0rem 0rem 0rem;
    text-align: left;
}

.today_continents_modern{
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 25rem;
    padding: 4rem 0rem 0rem 0rem;
}

.today_continents_modern::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
}

.today_continents_modern > *{
    position: relative;
    z-index: 1;
    color: white;
}

#Africa{
    background-image: url(../img/continents/africa.jpg);
}

#Antartide{
    background-image: url(../img/continents/antartide.jpg);
}

#Asia{
    background-image: url(../img/continents/asia.webp);
}

#Europa{
    background-image: url(../img/continents/europa.jpeg);
}

#America_del_Nord{
    background-image: url(../img/continents/america\ del\ nord.jpg);
}

#America_del_Sud{
    background-image: url(../img/continents/america\ del\ sud.jpg);
}

#Oceania{
    background-image: url(../img/continents/oceania.jpg);
}

/*css globalFooter*/

#footer{
    text-align: center;
    margin-top: 4rem;
    width: 100%;
}